{% extends "header.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>数据更新日期:{{ mtime }}</h2>
            <h6>注:如果发现某些章节无法在慕课中找到,属正常显现,教师尚未开放该章节</h6>
        </div>
        <div class="panel-group" id="accordion">
            {% if not jo %}gt
                <h2>没有数据，请确认学号是否正确</h2>
            {% else %}
                {% for item in jo %}
                    <div class="row">
                        <div class="panel panel-default">
                            <div class=" btn-block panel-heading" data-toggle="collapse"
                                 data-parent="#accordion"
                                 href="/#{{ item['id'] }}">
                                <h2 class="panel-title">
                                            <span style="cursor: default">
                                                {{ item['name'] }}
                                                <div class="pull-right">
                                                    {{ item['detail'][0]['value'] }}
                                                </div>
                                            </span>
                                </h2>
                            </div>
                            <div id="{{ item['id'] }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% for j in item['detail'] %}
                                        <p>课程名称:{{ j['name'] }}<br>进度:{{ j['value'] }}</p><br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}


